In [5]:
#Class of 20 students

def print_table(data):
    """
    Function to print the table for either girls or boys.
    """
    print('Name | Age | Height | Scores|')
    for name, details in data.items():
        age, height, scores = details
        print(f'{name} | {age} | {height} | {scores}|')

# Data for girls
girls = {
    'Evelyn':  [17, 5.5, 80],
    'Jessica': [16, 6.0, 85],
    'Somto':   [17, 5.4, 70],
    'Edith':   [18, 5.9, 60],
    'Liza':    [16, 5.6, 76],
    'Madonna': [18, 5.5, 66],
    'Waje':    [17, 6.1, 87],
    'Tola':    [20, 6.0, 95],
    'Aisha':   [19, 5.7, 50],
    'Latifa':  [17, 5.5, 49]
}

# Data for boys
boys = {
    'Chinedu': [19, 5.7, 74],
    'Liam':    [16, 7.5, 87],
    'Wale':    [18, 5.8, 75],
    'Gbenga':  [17, 6.1, 68],
    'Abiola':  [20, 5.9, 66],
    'Kola':    [19, 5.5, 78],
    'Kunle':   [16, 6.1, 87],
    'George':  [18, 5.4, 98],
    'Thomas':  [17, 5.8, 54],
    'Wesley':  [19, 5.7, 60]
}

# Print tables for girls and boys
print("\nTable for Girls")
print_table(girls)

print("\nTable for Boys")
print_table(boys)

Table for Girls
Name | Age | Height | Scores|
Evelyn | 17 | 5.5 | 80|
Jessica | 16 | 6.0 | 85|
Somto | 17 | 5.4 | 70|
Edith | 18 | 5.9 | 60|
Liza | 16 | 5.6 | 76|
Madonna | 18 | 5.5 | 66|
Waje | 17 | 6.1 | 87|
Tola | 20 | 6.0 | 95|
Aisha | 19 | 5.7 | 50|
Latifa | 17 | 5.5 | 49|

Table for Boys
Name | Age | Height | Scores|
Chinedu | 19 | 5.7 | 74|
Liam | 16 | 7.5 | 87|
Wale | 18 | 5.8 | 75|
Gbenga | 17 | 6.1 | 68|
Abiola | 20 | 5.9 | 66|
Kola | 19 | 5.5 | 78|
Kunle | 16 | 6.1 | 87|
George | 18 | 5.4 | 98|
Thomas | 17 | 5.8 | 54|
Wesley | 19 | 5.7 | 60|